<%- include("template/cabecera", {tituloWeb: 'Alpha Tauri' }) %>
    <style>
        
        body {
            background-image: url("/img/fondo6.jpg");
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .at2023{
        width: 35%;
        margin-left: 35%;
    }
    </style>
    <div class="container">
        <div class="bg col-6">
            <% if (arrayEscuderia.length> 0) { %>
                <!--Haremos el foreach para recorrer el array-->
                <% arrayEscuderia.forEach(escuderia=> { %>
                    <p class="text-white bg-dark p-1">La escuderia <%= escuderia.nombre %> es la sucesora de Toro Rosso, nacio en <%= escuderia.fundacion %>.
                        Siempre han tenido actuaciones buenas, pero su principal objetivo es ayudar a Red Bull
                    </p>

                    <p class="text-white bg-dark p-1">Con sede en <%= escuderia.pais %>, este a침o intentar치n luchar por liderar la tabla media
                            con su
                            mejorado motor
                            <%= escuderia.motor %>. El equipo <%= escuderia.nombre %> tuvo problemas el a침o pasado pero
                                    creen que han solucionado estos problemas y seran capaces de ganar este a침o.</p>
                    <% }) %>
                        <% } %>
        </div>
    </div>
    <br>
<br>
<br>
<img src="/img/at2023.png" alt="Alpha Tauri 2023" class="at2023">
<br>
<br>
<br>
    <div class="table-responsive">
        <table class=" text-white table align-middle bg-dark p-1">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre Piloto</th>
                    <th scope="col">Pais</th>
                    <th scope="col">Num_Carrera</th>
                    <th scope="col">Victorias</th>
                    <th scope="col">Podios</th>
                    <th scope="col">Dorsal</th>
                    <th scope="col">Escuderia</th>
                </tr>
            </thead>
            <tbody>

                <% if (arrayPiloto.length> 0) { %>
                    <!--Haremos el foreach para recorrer el array-->
                    <% arrayPiloto.forEach(piloto=> { %>
                        <tr>
                            <td>
                                <%= piloto.nombre %>
                            </td>
                            <td>
                                <%= piloto.pais %>
                            </td>
                            <td>
                                <%= piloto.num_Carreras %>
                            </td>
                            <td>
                                <%= piloto.victoria %>
                            </td>
                            <td>
                                <%= piloto.podio %>
                            </td>
                            <td>
                                <%= piloto.dorsal %>
                            </td>
                            <td>
                                <%= piloto.escuderia %>
                            </td>
                        </tr>
                        <% }) %>
                            <% } %>
            </tbody>
        </table>
    </div>
    <a class="nav-link" href="/">Volver al inicio</a>