<%- include("template/cabecera", {tituloWeb: 'Campeonato' }) %>

<style>
    body{
        background-image: url("/img/fondo13.jpg");
        background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;        
    }
</style>
<div class="table-responsive">
    <table class="table align-middle text-white ">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Temporada</th>
                <th scope="col">Piloto Campeon</th>
                <th scope="col">Puntos Piloto</th>
                <th scope="col">Escuderia Campeona</th>
                <th scope="col">Puntos Escuderia</th>
            </tr>
        </thead>
        <tbody>
            <% if (arrayCampeonato.length> 0) { %>
                <!--Haremos el foreach para recorrer el array-->
                <% arrayCampeonato.forEach(campeonato=> { %>
                    <tr>
                        <td>
                            <%= campeonato.temporada %>
                        </td>
                        <td>
                            <%= campeonato.piloto_campeon %>
                        </td>
                        <td>
                            <%= campeonato.puntos_piloto %>
                        </td>
                        <td>
                            <%= campeonato.escuderia_campeon %>
                        </td>
                        <td>
                            <%= campeonato.puntos_escuderia %>
                        </td>
                    </tr>
                    <% }) %>
                        <% } %>
        </tbody>
    </table>
</div>

<a class="nav-link" href="/">Volver al inicio</a>