<%- include("template/cabecera", {tituloWeb: 'Mercedes' }) %>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Pais</th>
            <th scope="col">Num_Carrera</th>
            <th scope="col">Victorias</th>
            <th scope="col">Podios</th>
            <th scope="col">Dorsal</th>
            <th scope="col">Escuderia</th>ยก
        </tr>
    </thead>
    <tbody>
        
        <% if (arrayPiloto.length> 0) { %>
            <!--Haremos el foreach para recorrer el array-->
            <% arrayPiloto.forEach(piloto => { %>
                <tr>
                    <td><%= piloto.nombre %></td>
                    <td><%= piloto.pais %></td>
                    <td><%= piloto.num_Carreras %></td>
                    <td><%= piloto.victoria %></td>
                    <td><%= piloto.podio %></td>
                    <td><%= piloto.dorsal %></td>
                    <td><%= piloto.escuderia %></td>
                </tr>
            <% }) %>
        <% } %>
  </tbody>
</table>
<a class="nav-link" href="/">Volver al inicio</a>