<%- include("template/cabecera", {tituloWeb: 'RedBull' }) %>
<style>
    body{
        background-image: url("/img/fondo1.png");        
    }
</style>
<div class="container">
    <div class="bg col-6">
        <% if (arrayEscuderia.length> 0) { %>
            <!--Haremos el foreach para recorrer el array-->
            <% arrayEscuderia.forEach(escuderia=> { %>
                <p class="text-white">
                    <%= escuderia.nombre %> es una escudería creada en <%= escuderia.pais %> de Fórmula 1 con base en
                            Milton Keynes,
                            Inglaterra, propiedad de la empresa de la bebida energizante Red Bull GmbH. Cuando la
                            propietaria anterior de este equipo Ford Motor Company, anunció su retirada de la
                            máxima categoría del automovilismo.Compite en F1 desde  <%= escuderia.fundacion %> y en sus
                                dos
                                primeras temporadas participaba con licencia británica.
                </p>
                <% }) %>
                    <% } %>
    </div>
        
</div>
<br>
<br>
<br>
    <table class="table text-white">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Pais</th>
                <th scope="col">Num_Carrera</th>
                <th scope="col">Victorias</th>
                <th scope="col">Podios</th>
                <th scope="col">Dorsal</th>
                <th scope="col">Escuderia</th>
            </tr>
        </thead>
        <tbody>
            <% if (arrayPiloto.length> 0) { %>
                <!--Haremos el foreach para recorrer el array-->
                <% arrayPiloto.forEach(piloto=> { %>
                    <tr>
                        <td>
                            <%= piloto.nombre %>
                        </td>
                        <td>
                            <%= piloto.pais %>
                        </td>
                        <td>
                            <%= piloto.num_Carreras %>
                        </td>
                        <td>
                            <%= piloto.victoria %>
                        </td>
                        <td>
                            <%= piloto.podio %>
                        </td>
                        <td>
                            <%= piloto.dorsal %>
                        </td>
                        <td>
                            <%= piloto.escuderia %>
                        </td>
                    </tr>
                    <% }) %>
                        <% } %>
        </tbody>
    </table>
    <br>


    <a class="nav-link" href="/">Volver al inicio</a>