<%- include("template/cabecera", {tituloWeb: 'Williams' }) %>
    <style>
        body {
            background-image: url("/img/fondo10.jpg");
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            color: black;
        }
    </style>
    <div class="container">
        <div class="bg col-6">
            <% if (arrayEscuderia.length> 0) { %>
                <!--Haremos el foreach para recorrer el array-->
                <% arrayEscuderia.forEach(escuderia=> { %>
                    <p class="text-white">
                        <%= escuderia.nombre %> es una escudería creada en <%= escuderia.pais %> de Fórmula 1, fué
                                fundada en <%= escuderia.fundacion %> es considerada uno de los cuatro grandes equipos
                                    de Fórmula 1, junto con Ferrari, McLaren y Mercedes.​ Con su motor <%= escuderia.motor %> intentaran salir de los ultimos puestos.
                    </p>
                    <% }) %>
                        <% } %>
        </div>

    </div>
    <br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

    <div class="table-responsive">
        <table class=" text-white table align-middle">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre Piloto</th>
                    <th scope="col">Pais</th>
                    <th scope="col">Num_Carrera</th>
                    <th scope="col">Victorias</th>
                    <th scope="col">Podios</th>
                    <th scope="col">Dorsal</th>
                    <th scope="col">Escuderia</th>
                </tr>
            </thead>
            <tbody>

                <% if (arrayPiloto.length> 0) { %>
                    <!--Haremos el foreach para recorrer el array-->
                    <% arrayPiloto.forEach(piloto=> { %>
                        <tr>
                            <td>
                                <%= piloto.nombre %>
                            </td>
                            <td>
                                <%= piloto.pais %>
                            </td>
                            <td>
                                <%= piloto.num_Carreras %>
                            </td>
                            <td>
                                <%= piloto.victoria %>
                            </td>
                            <td>
                                <%= piloto.podio %>
                            </td>
                            <td>
                                <%= piloto.dorsal %>
                            </td>
                            <td>
                                <%= piloto.escuderia %>
                            </td>
                        </tr>
                        <% }) %>
                            <% } %>
            </tbody>
        </table>
    </div>
    <a class="nav-link" href="/">Volver al inicio</a>